{% extends 'base.html' %}

{% block title %}
    {{ block.super }} | Homepage
{% endblock%}

{% block navbar %}
{% endblock %}

{% block page_content %}
    <div class="jumbotron text-center">
        <h1>
            Ask.fm Clone
        </h1>
        <h3><u>Ask and answer</u></h3>
        <br>
        <p>
            <a href="{% url 'auth:registration_view' %}"
                class="btn btn-primary">
                Register
            </a>
            <a href="{% url 'auth:login_view' %}"
                class="btn btn-success">
                Login
            </a>
        </p>
    </div>
{% endblock%}
