{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
    {{ username }} | {{ block.super }}
{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="page-header text-center">
            <h2>{{ username }}</h1>
        </div>

        <div class="row">
            <div class="col-md-8">
                {% if answered_questions %}
                <dl>
                    {% for question in answered_questions %}
                    <dt>{{ question.text }}
                        <small>
                        {% if question.anonymous %}
                            Anonymous
                        {% else %}
                            <a href="{% url 'askfm:user_profile' question.asked_by.username %}">
                                {{ question.asked_by.username }}
                            </a>
                        {% endif %}
                        </small>
                    </dt>
                    <dd>{{ question.answer }}</dd>
                    {% endfor %}
                </dl>
                {% else %}
                <h4 class="text-center">
                    {{ username }}
                    has not answered any questions yet!
                </h4>
                {% endif %}
            </div>
            <div class="col-md-4">
                <h4 class="text-center">Ask a question</h4>
                <form method="post">
                    {% include 'form_errors.html' %}
                    {% csrf_token %}

                    <div class="form-group">
                        {% render_field form.question_text class="form-control" placeholder=form.question_text.label required="" %}
                    </div>

                    <div class="checkbox">
                        <label for="{{ form.anonymous.auto_id }}">
                            {% render_field form.anonymous %}
                            {{ form.anonymous.label }}
                        </label>
                    </div>

                    <div class="form-group">
                        <input type="submit"
                               class="btn btn-primary form-control"
                               value="Ask">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
