/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #ff643c;
  text-shadow: none;
  background-color: #fff;
  border: 1px solid #fff;
  margin-top: 20px;
}

.btn {
    border-radius: 3px;
}


/*
 * Base structure
 */
html,
body {
  color: #fff;
  height: 100%;
}

body {
  background: #ff643c url('../images/border.png') repeat-x top right;
  background-size: 400% 8px;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  padding-top: 20px;
}

/*
* Main Heading
*/
header {
    padding-bottom: 195px;
}
header p, header a{
    font-size: 16px;
}
.main-heading {
    margin-top: 100px;
}


/*
* Footer nav
*/

footer {
    background-color: #fff;
    color: #000;
    padding: 10px;
}
footer a {
    color: #ff643c;
    text-shadow: none;
}

.links {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}
.links a {
    margin-right: 5px;
    display: inline-block;
}
.links a:hover {
    color: #ff643c;
    text-decoration: none;
}


/*
*Random Users Listing
*/
.random-users {
    padding: 0;
    margin: 5px 0 15px;
    overflow-x: auto;
}

.random-users > a > img {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-right: 5px;
}
