/*
** Exo 2 Google Font
*/

@import 'https://fonts.googleapis.com/css?family=Exo+2';

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, p, dl, ul, ol, input, form, button {
    font-family: 'Exo 2', sans-serif;
}
