{% if form.errors %}
    <div class="alert alert-danger">
        <strong>Fix the below error{{ form.errors | pluralize}}</strong>
        <ul>
        <!--Field Errors-->
        {% for field in form %}
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        {% endfor %}

        <!--Non Field Errors-->
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}

        </ul>
    </div>
{% endif %}
