{% extends 'base.html' %}
{% load widget_tweaks %}
{% load staticfiles %}

<!-- Disabling navbar on Login Page-->
{% block navbar %}
{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="page-header text-center">
            <h1><a href="/">AskFmClone</a></h1>
        </div>
        <form method="post">
            {% include 'flash_messages.html' %}
            {% include 'form_errors.html' %}
            {% csrf_token %}
            <input type="hidden" name="next"
                   value="{% if next %}{{ next }}{% else %}/{% endif %}">
            <div class="form-group">
                {{ form.username_or_email | add_class:"form-control" | attr:"placeholder:Username or Email" | attr:"required" }}
            </div>
            <div class="form-group">
                {{ form.password | add_class:"form-control" | attr:"placeholder:Password" | attr:"required" }}
            </div>
            <div class="checkbox">
                <label for="show_pass">
                    <input type="checkbox" id="show_pass"> Show Password?
                </label>
            </div>
            <div class="form-group">
                <input type="submit"
                       class="btn btn-primary col-xs-12"
                       value="Login"/>
            </div>
        </form>
        <hr><hr>
        <p>New here? <a href="{% url 'registration_view' %}">
            Register Now</a>.</p>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/show_pass.js' %}"></script>
{% endblock %}
