{% extends 'base.html' %}
{% load widget_tweaks %}
{% load staticfiles %}

<!-- Empty Navbar -->
{% block navbar %}
{% endblock %}


{% block page_content %}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="page-header text-center">
            <h1><a href="/">AskFmClone</a></h1>
        </div>
        <form method="post">
            <h4 class="text-center">Register Now!</h4>
            {% include 'form_errors.html' %}
            {% csrf_token %}
            <div class="form-group
                        {% if form.username.errors %}has-error{% endif %}">
                {% render_field form.username class="form-control" required="" placeholder="Username" %}
            </div>
            <div class="form-group
                        {% if form.email.errors %}has-error{% endif %}">
                {% render_field form.email class="form-control" required="" placeholder="Email" type="email" %}
            </div>
            <div class="form-group
                        {% if form.password.errors %}has-error{% endif %}">
                {% render_field form.password class="form-control" required="" placeholder="Password" %}
            </div>
            <div class="checkbox">
                <label for="show_pass">
                    <input type="checkbox" id="show_pass"> Show Password?
                </label>
            </div>
            <div class="form-group">
                <input type="submit"
                       class="btn btn-primary col-xs-12"
                       value="Sign Up"/>
            </div>
        </form>
        <hr><hr>
        <p>Already have an account?
        <a href="{% url 'auth:login' %}">Login</a>.</p>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/show_pass.js' %}"></script>
{% endblock %}
