{% extends 'base.html' %}
{% load staticfiles %}


{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% endblock %}

{% block body %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-offset-4 col-md-4 text-center main-heading">
                    <h1><b>AskFm</b>clone</h1>
                    <p>Ask and Answer</p>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8 col-xs-offset-4 col-xs-4">
                            <a href="{% url 'auth:registration' %}"
                                class="btn btn-default form-control"><b>Register</b></a>
                            <br><br>
                            <a href="{% url 'auth:login' %}">
                                <u>Log In</u>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <nav class="random-users hidden-xs">
                        {% for user in random_users %}
                            <a href="{% url 'askfm:user_profile' user.username %}">
                                <img src="{% url 'avatar:image' user.username %}"
                                    alt="{{ user.username }} avatar"
                                    class="img-circle img-thumbnail"/>
                            </a>
                        {% endfor %}
                    </nav>
                    <nav class="links">
                        <a href="https://github.com/shakib609/AskFmClone" target="_blank">About AskFmClone</a>
                        <a href="#" target="_blank">Safety Center</a>
                        <a href="#" target="_blank">Help</a>
                        <a href="#" target="_blank">Terms of Use</a>
                        <a href="#" target="_blank">Privacy Policy</a>
                        <a href="#" target="_blank">Cookies Policy</a>
                    </nav>
                    <p class="text-right">
                        &copy; <a href="https://github.com/shakib609">Shakib Hossain</a> 2016.
                    </p>
                </div>
            </div>
        </div>
    </footer>

    {% block scripts %}
    {{ block.super }}
    {% endblock %}

{% endblock %}
